/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jun, 2020, 9:05:40 AM
    Author     : arpit
*/
/*this is the css file for E-library.jsp*/

.bg-book{
    width: 14rem;
    margin: 10px;
}